 #main { max-width: 1280px;
max-height: 100%;
margin: 30px auto;
padding: 15px;
background-color:#ce9dd9;
border-radius:5px;
font-family: sans-serif;}
#title {text-align: center;}
#main p{text-align: center}
#img-div {max-width: 600px;
margin: 0 auto;
padding: 15px;
background-color: #f5e1fd;
border-radius: 5px;}
#image {display: block;
max-width: 100%;
padding-bottom: 10px;
}
#tribute-info {max-width: 600%;
margin: 0 auto;}
#tribute-info > h3 {text-align: center;}
#tribute info > ul li {margin-bottom: 10px;
line-height: 30px;
}
#img-caption{text-align:center;}
h3{background-color:#ce9dd9;
}
h4 {background-color: #f5e1fd;}
h5 {text-align: center;
background-color:#ce9dd9;}
